 # Merging Instacart Data

The script contains the following points :
    Merging data frame
    exporting to PKL

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# define path
path = r"C:\Users\solza\Downloads\12-2022 Instacart Basket Analysis"

In [3]:
# Importing 'orders_products_combined.pkl'

df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_ords_prods_comb.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [5]:
df_ords_prods_comb.shape

(32434489, 12)

In [6]:
# Importing 'products_cleaned.csv'
df_prods_cleaned = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [7]:
df_prods_cleaned.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods_cleaned.shape

(49672, 6)

In [9]:
# Dropping '_merge' column from 'orders_products_combined.pkl'
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['_merge'])

In [10]:
df_ords_prods_comb.shape

(32434489, 11)

In [11]:
# Merging
df_ords_prods_merged = df_ords_prods_comb.merge(df_prods_cleaned, on = 'product_id', indicator = True)

In [12]:
df_ords_prods_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [13]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
df_ords_prods_merged.shape

(32404859, 17)

In [15]:
# Import to PKL
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))